<div class="card">
  <div class="card-body">
    <h3 *ngIf="!editmode">Create New Post</h3>
    <h3 *ngIf="editmode">Edit Post</h3>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
      <div class="form-group">
        <label for="validationDefault01">Title</label>
        <input type="text" class="form-control" id="validationDefault01" placeholder="Add title" formControlName='title' required>
      </div>
      <div class="form-group">
        <label for="validationDefault02">Image Path</label>
        <input type="text" class="form-control" id="validationDefault02" placeholder="Add image path" formControlName='imgPath' required>
        <img [src]="form.value.imgPath" alt="">
      </div>
      <div class="form-group">
        <label for="validationDefault03">Description</label>
        <input type="text" class="form-control" id="validationDefault03" placeholder="Add Description" formControlName='description' required>
      </div>
      <button class="btn btn-primary" type="submit">Save </button>
      <button class="btn btn-light" type="reset">Clear</button>
    </form>
  </div>
</div>