<div *ngIf="user">
  <div class="profile-header">
    <img [src]="user.coverURL" alt="Cover Photo" class="cover-photo">
    <div class="profile-photo-container">
      <img [src]="user.photoURL" alt="Profile Picture" class="profile-photo">
    </div>
  </div>
  <h3>Name: {{ user.displayName }}</h3>
  <p>Bio: {{ user.bio }}</p> <!-- display user bio -->
  <form (ngSubmit)="updateProfile(form.value)" #form="ngForm">
    <label>
      Name:
      <input type="text" [(ngModel)]="user.displayName" name="name" required>
    </label>
    <label>
      Bio:
      <textarea [(ngModel)]="user.bio" name="bio"></textarea>
    </label>
    <label>
      Profile Picture:
      <input type="file" (change)="onFileSelected($event)" name="profilePicture">
    </label>
    <label>
      Cover Photo:
      <input type="file" (change)="onCoverFileSelected($event)" name="coverPicture">
    </label>
    <button type="submit">Update Profile</button>
  </form>
</div>