<form #registerForm="ngForm" (ngSubmit)="register(registerForm.value.email, registerForm.value.password, profilePic)" class="register-form">
  <input type="email" name="email" ngModel placeholder="Email" required class="form-input">
  <input type="password" name="password" ngModel placeholder="Password" required minlength="6" class="form-input">
  <label for="profilePic">
    Select Profile Picture
    <input type="file" id="profilePic" #profilePic="ngModel" name="profilePic" ngModel />
  </label>
  <button type="submit" [disabled]="!registerForm.valid" class="submit-button">Register</button>
</form>